@charset "utf-8";

/****************** Layout ******************/
html{font-size:16px;}
body{min-height:100%;overflow-y:scroll;}
.wrap{width:100%;min-width:320px;}

/****************** Header & GNB ******************/
.header{position:fixed;top:0;left:0;width:100%;z-index:999;}
.header .gnb{display:flex;justify-content:space-between;margin:4vw 6.4vw 0 6.4vw;}
.header .gnb .alert{width:7.467vw;}
.header .gnb .location{margin-top:1vw;}
.header .gnb .location .loca_map img{width:6.4vw;}
.header .gnb .location .loca_tit{color:#fff;font-size:4.267vw;font-weight:500;}
.header .gnb .location .loca_arrow img{width:2.667vw;}
.header .gnb .search{width:7.467vw;}

/****************** all Menu ******************/
/* 모바일 전체메뉴 */
.moGnbBg{display:none;position:fixed;top:0;left:0;width:100%;height:100vh;background:rgba(0,0,0,0.5);z-index:0;}
.moGnbWrap{display:none;display:block;position:fixed;top:0;left:0;width:100%;height:100vh;z-index:50;}

.moGnbWrap .moUtil{position:fixed;top:0;left:0;width:100%;height:60px;z-index:60;background:#fff;}
.moGnbWrap .logo{position:absolute;top:0;left:0;width:150px;padding:20px 0 0 50px;font-size:28px;font-weight:800;}
.moGnbWrap .scroll{position:absolute;top:0;right:0;width:80%;min-height:100vh;overflow-y:auto;background-color:rgba(255,255,255,1);box-shadow:0 -10px 10px rgb(0 0 0 / 10%);
  -webkit-transform:translate3d(300px,0,0);
  transform:translate3d(300px,0,0);
  -webkit-transition:0.45s cubic-bezier(0.22,0.61,0.2,1);
  transition:0.45s cubic-bezier(0.22,0.61,0.2,1);
}
.moGnbWrap .scroll.open{
  -webkit-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0);
  -webkit-transition-delay:0.15s;
  transition-delay:0.15s;
}

.moGnbWrap .moGnb .depth1, .moGnbWrap .moGnb .depth2{display:none;}
.moGnbWrap .moGnbInner{position:absolute;top:0;left:0;width:100%;height:100%;text-align:center;display:table;}
.moGnbWrap .moGnb{display:table-cell;vertical-align:middle;padding-top:60px;}
.moGnbWrap .moGnb > li > a{display:block;padding:20px 10px;font-size:24px;color:#000;font-weight:bold;}
.moGnbWrap .moGnb .depth1 > li > a{display:block;padding:10px 5px;font-size:17px;color:#555;}
.moGnbWrap .moGnb .depth2 > li > a{display:block;padding:10px 5px;font-size:14px;color:#999;}

/* on 효과 */
.moGnbWrap .moGnb li{position:relative;}
.moGnbWrap .moGnb > li > a.on{color:steelblue;}
.moGnbWrap .moGnb > li > a:before{content:'';position:absolute;right:20px;top:32px;transform:translateY(-50%);width:14px;height:2px;border-radius:1px;background-color:#444;}
.moGnbWrap .moGnb > li > a:after{content:'';position:absolute;right:25px;top:25px;transform:translateX(-50%);width:2px;height:14px;border-radius:1px;background-color:#444;transition:0.3s;}
.moGnbWrap .moGnb > li > a.on:after{transform:translateX(-50%) rotate(90deg);}

.moGnbWrap .moGnb .depth1{padding:15px 0;background:#eee;}
.moGnbWrap .moGnb .depth1 > li > a.on{color:#000;font-weight:bold;}
.moGnbWrap .moGnb .depth1 > li > a:before{content:'';position:absolute;right:20px;top:20px;transform:translateY(-50%);width:10px;height:2px;border-radius:1px;background-color:#aaa;}
.moGnbWrap .moGnb .depth1 > li > a:after{content:'';position:absolute;right:23px;top:15px;transform:translateX(-50%);width:2px;height:10px;border-radius:1px;background-color:#aaa;transition:0.3s;}
.moGnbWrap .moGnb .depth1 > li > a.on:after{transform:translateX(-50%) rotate(90deg);}

.moGnbWrap .moGnb .depth2 > li > a.on{color:#000;text-decoration:underline;font-weight:bold;}

/* 버튼 아이콘 */
.moBtnOpen{position:absolute;top:0;right:0;width:60px;height:60px;background:#fff;color:#444;}
.moBtnClose{position:absolute;top:0;right:0;width:60px;height:60px;background:#fff;color:#fff;z-index:20;}

.moBtnOpen .bar1{display:block;position:absolute;width:26px;height:2px;left:18px;top:18px;opacity:1;background:#444;border-radius:10px;}
.moBtnOpen .bar2{display:block;position:absolute;width:26px;height:2px;left:18px;top:26px;opacity:1;background:#444;border-radius:10px;}
.moBtnOpen .bar3{display:block;position:absolute;width:22px;height:2px;left:18px;top:34px;opacity:1;background:#444;border-radius:10px;}

.moBtnClose:before{content:'';display:block;position:absolute;width:24px;height:2px;left:26%;top:47%;opacity:1;background-color:#444;border-radius:10px;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg);}
.moBtnClose:after{content:'';display:block;position:absolute;width:24px;height:2px;left:26%;top:47%;opacity:1;background-color:#444;border-radius:10px;transform:rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);-ms-transform:rotate(45deg);}

/****************** Footer ******************/
footer{padding:10.667vw 6.4vw;}

/****************** Main Content ******************/
.main{}
.main .inner{margin:0 6.4vw}
.main .sect_title{position:relative;}
.main .sect_title h2{font-size:6.4vw;color:#1A1A1A;font-weight:700;margin-bottom:8vw;}
.main .sect_title .icon_arrow{display:block;position:absolute;top:0;right:0;width:10vw;height:8vw;}
.main .sect_title .icon_arrow:after{position:absolute;top:0;right:0;width:6.4vw;height:6.4vw;background:url("../../images/common/icon_arrow_01.png");background-size:100%;content:'';}

/* Main visual */
.slider_visual{
    position: relative;
    width:100%;
    height:84vw;
    display: flex;
} 
.slider_visual .swiper-slide {
    position:relative;
    box-sizing:border-box;
    display:flex;
    justify-content:center;
    align-items:center;
} 
.slider_visual .swiper-slide img {
    position:absolute;
    top:0;
    left:0;
    display:block;
    width:100%;
    height:100%;
    object-fit:cover;
    z-index:0;
} 
/* 텍스트 */
.slider_visual .swiper-slide .visual_text {
    position:absolute;
    top:22.333vw;
    left:6.4vw;
    color:#fff;
    z-index:10;
} 
.slider_visual .swiper-slide .title {
    font-size:7.466vw;
    font-weight:700;
    opacity: 0;
    transform: translateX(30px);
    transition: transform 0.55s ease-in-out, opacity 0.55s ease-in-out;    
}
.slider_visual .swiper-slide .desc {
    font-size:4.266vw;
    margin-top:10px;
    opacity: 0;
    transform: translateX(30px);
    transition: transform 0.55s ease-in-out 0.4s, opacity 0.55s ease-in-out 0.5s;
} 
.slider_visual .swiper-slide-active .title, .slider_visual .swiper-slide-active .desc{
    opacity: 1;
    transform: translateX(0);
}

.slider_visual .swiper-pagination {
    top:60.4vw;
    left:10.4vw;
    color:#fff;
    font-size:3.2vw;
    font-weight:700;
    text-align:left;
    z-index:10;
}
.slider_visual .swiper-pagination:before {
    position:absolute;top:-1.6vw;left:-3.5vw;width:13vw;height:7.2vw;background:rgba(0, 0, 0, .3);border-radius:20px;content:'';z-index:-1;
}

/* 상단퀵메뉴 */
.main_section_quickmenu{position:absolute;top:71.533vw;left:6.4vw;right:6.4vw;z-index:50;background:rgba(255, 255, 255, .25);border-radius:8px;box-shadow:0px 5px 10px 0px rgba(0,0,0,0.08);}
.main_section_quickmenu:after{position:absolute;width:90%;height:90%;top:0;left:0;right:0;bottom:0;background:rgba(255, 255, 255, .8);filter:blur(95px);z-index:-1;content:"";}
.main_section_quickmenu .quickmenu_wrap{display:flex;justify-content:space-between;margin:5.333vw 4.8vw;}
.main_section_quickmenu .quickmenu_wrap li{width:21%;}
.main_section_quickmenu .quickmenu_wrap li p{font-size:3.2vw;margin-top:2.5vw;text-align:center;}

/* 최근본매장 */
.main_section_store{background:#F0F0F0;padding:38.4vw 0 16vw 0;}
.main_section_store .slider_store{
    position: relative;
    width:100%;
    display: flex;
    padding:0 6.4vw;
} 
.slider_store .swiper-slide {
    position:relative;
    display:flex;
} 
.slider_store .swiper-slide a {
    display: block;
    width: 100%;
}
.slider_store .swiper-slide .thumbimg {
    width:100%;
    border-radius:8px;
    overflow:hidden;
}
.slider_store .swiper-slide .thumbimg .mark {
    position: absolute;
    top: 0;
    right: 0;
    width: 10.133vw;
    padding: 1.5vw 0;
    font-size: 3.2vw;
    color:#fff;
    background:rgba(255, 193, 7, .8);
    text-align: center;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 8px;
}
.slider_store .swiper-slide .title{
    font-size:4.267vw;
    font-weight:700;
    color:#1A1A1A;
    margin-top:3.2vw;
}
.slider_store .swiper-slide .desc{
    font-size:3.733vw;
    color:#666;
} 

/* 프리미엄샵 */
.main_section_premium{background:rgba(255, 193, 7, .10);padding:13.333vw 0;}
.main_section_premium .slider_premium{
    position: relative;
    width:100%;
    padding-bottom:11vw;
    display: flex;
} 
.slider_premium .swiper-slide {
    position:relative;
    display:flex;
    justify-content: center;
} 

.slider_premium .swiper-slide a {
    display: block;
    width: 100%;
    background:#fff;
    border-radius:8px;
    overflow:hidden;
    box-shadow:0px 5px 10px 0px rgba(0,0,0,0.08);
}
.slider_premium .swiper-slide .thumbimg {
    position:relative;
    width:100%;
}
.slider_premium .swiper-slide .thumbimg .text {
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    background:rgba(0, 0, 0, .15);
    padding:2.5vw 5.333vw 2vw 5.333vw;
    font-size:3.733vw;
    color:#fff;
} 
.slider_premium .swiper-slide .text_wrap {
    padding:5.333vw;
}
.slider_premium .swiper-slide .text_wrap .title {
    font-size:4.8vw;
    font-weight:700;
    color:#1A1A1A;
    min-height:15vw;
}
.slider_premium .swiper-slide .text_wrap .desc {
    font-size:3.733vw;
    color:#666;
    margin:1vw 0 1.6vw 0;
} 
.slider_premium .swiper-slide .text_wrap .rate {
    position:relative;
    font-size:3.733vw;
    font-weight:500;
    color:#666;
    padding-left:5.5vw;
} 
.slider_premium .swiper-slide .text_wrap .rate:before {
    position:absolute;top:0;left:0;width:4.8vw;height:4.8vw;background:url("../../images/common/icon_star.png");background-size:100%;content:'';
}
.slider_premium .swiper-slide .text_wrap .rate .rate_all {
    color:#333;
    font-weight:600;
}
.slider_premium .swiper-pagination {
    width:100%;
    height:6%;
    bottom:0;
    color:#000;
    font-size:3.733vw;
    font-weight:600;
    letter-spacing:1vw;
}

/* 우리동네 매장 */
.main_section_local{background:#fff;padding:13.333vw 0;}
.main_section_local .local_list li{}
.main_section_local .local_list a{position:relative;}
.main_section_local .local_list .thumbimg{position:relative;}
.main_section_local .local_list .thumbimg .mark{position:absolute;top:0;right:0;width:13.867vw;padding:2.5vw 0;font-size:3.2vw;color:#fff;background:rgba(255, 193, 7, .8);text-align:center;border-top-right-radius:7px;border-bottom-left-radius:8px;}
.main_section_local .local_list .text_wrap{margin:3.2vw 0 6.4vw 0;}
.main_section_local .local_list .text_wrap .title{font-size:4.8vw;font-weight:700;color:#1A1A1A;}
.main_section_local .local_list .text_wrap .rate{position:relative;font-size:3.733vw;font-weight:500;color:#666;padding-left:5.5vw;margin:2.1vw 0 3.2vw 0;}
.main_section_local .local_list .text_wrap .rate:before{position:absolute;top:0;left:0;width:4.8vw;height:4.8vw;background:url("../../images/common/icon_star.png");background-size:100%;content:'';}
.main_section_local .local_list .text_wrap .rate .rate_all{color:#333;font-weight:600;}
.main_section_local .local_list .text_wrap .category{display:inline-block;font-size:2.8vw;color:#333;border:1px solid #666;border-radius:20px;padding:1.333vw 3.2vw;}

/* 롤링배너 */
.slider_banner .swiper-pagination{text-align:left;margin:0 6.4vw;bottom:4vw !important;}
.slider_banner .swiper-pagination-bullet{width:1.333vw;height:1.333vw;background:#fff;opacity:.6;}
.slider_banner .swiper-pagination-bullet-active{width:4.267vw;background:#fff;border-radius:10px;opacity:1;}

/* 공지사항 */
.main_section_notice{padding:6.4vw 5.6vw;background:#F0F0F0;}
.main_section_notice a{position:relative;display:block;display:flex;}
.main_section_notice a:after{position:absolute;top:0;right:0;width:3.2vw;height:3.2vw;background:url("../../images/common/icon_arrow_01.png");background-size:100%;content:'';}
.main_section_notice .noti_title{font-size:3.733vw;font-weight:700;color:#1A1A1A;margin-right:3.2vw;}

