@charset "utf-8";

/****************** Layout ******************/
html{font-size:16px;}
body{min-height:100%;overflow-y:scroll;}
.wrap{width:100%;min-width:320px;max-width:768px}

/****************** Header & GNB ******************/
.header{position:absolute;top:0;left:0;width:100%;z-index:999;}
.header .gnb{display:flex;justify-content:space-between;margin:4vw 6.4vw 0 6.4vw;}
.header .gnb .alert{width:7.467vw;}
.header .gnb .location{margin-top:1vw;}
.header .gnb .location .loca_map img{width:6.4vw;}
.header .gnb .location .loca_tit{color:#fff;font-size:4.267vw;font-weight:500;}
.header .gnb .location .loca_arrow img{width:2.667vw;}
.header .gnb .search{width:7.467vw;}

/****************** all Menu ******************/
/* 모바일 전체메뉴 */
.moGnbBg{display:none;position:fixed;top:0;left:0;width:100%;height:100vh;background:rgba(0,0,0,0.5);z-index:0;}
.moGnbWrap{display:none;display:block;position:fixed;top:0;left:0;width:100%;height:100vh;z-index:50;}

.moGnbWrap .moUtil{position:fixed;top:0;left:0;width:100%;height:60px;z-index:60;background:#fff;}
.moGnbWrap .logo{position:absolute;top:0;left:0;width:150px;padding:20px 0 0 50px;font-size:28px;font-weight:800;}
.moGnbWrap .scroll{position:absolute;top:0;right:0;width:80%;min-height:100vh;overflow-y:auto;background-color:rgba(255,255,255,1);box-shadow:0 -10px 10px rgb(0 0 0 / 10%);
  -webkit-transform:translate3d(300px,0,0);
  transform:translate3d(300px,0,0);
  -webkit-transition:0.45s cubic-bezier(0.22,0.61,0.2,1);
  transition:0.45s cubic-bezier(0.22,0.61,0.2,1);
}
.moGnbWrap .scroll.open{
  -webkit-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0);
  -webkit-transition-delay:0.15s;
  transition-delay:0.15s;
}

.moGnbWrap .moGnb .depth1, .moGnbWrap .moGnb .depth2{display:none;}
.moGnbWrap .moGnbInner{position:absolute;top:0;left:0;width:100%;height:100%;text-align:center;display:table;}
.moGnbWrap .moGnb{display:table-cell;vertical-align:middle;padding-top:60px;}
.moGnbWrap .moGnb > li > a{display:block;padding:20px 10px;font-size:24px;color:#000;font-weight:bold;}
.moGnbWrap .moGnb .depth1 > li > a{display:block;padding:10px 5px;font-size:17px;color:#555;}
.moGnbWrap .moGnb .depth2 > li > a{display:block;padding:10px 5px;font-size:14px;color:#999;}

/* on 효과 */
.moGnbWrap .moGnb li{position:relative;}
.moGnbWrap .moGnb > li > a.on{color:steelblue;}
.moGnbWrap .moGnb > li > a:before{content:'';position:absolute;right:20px;top:32px;transform:translateY(-50%);width:14px;height:2px;border-radius:1px;background-color:#444;}
.moGnbWrap .moGnb > li > a:after{content:'';position:absolute;right:25px;top:25px;transform:translateX(-50%);width:2px;height:14px;border-radius:1px;background-color:#444;transition:0.3s;}
.moGnbWrap .moGnb > li > a.on:after{transform:translateX(-50%) rotate(90deg);}

.moGnbWrap .moGnb .depth1{padding:15px 0;background:#eee;}
.moGnbWrap .moGnb .depth1 > li > a.on{color:#000;font-weight:bold;}
.moGnbWrap .moGnb .depth1 > li > a:before{content:'';position:absolute;right:20px;top:20px;transform:translateY(-50%);width:10px;height:2px;border-radius:1px;background-color:#aaa;}
.moGnbWrap .moGnb .depth1 > li > a:after{content:'';position:absolute;right:23px;top:15px;transform:translateX(-50%);width:2px;height:10px;border-radius:1px;background-color:#aaa;transition:0.3s;}
.moGnbWrap .moGnb .depth1 > li > a.on:after{transform:translateX(-50%) rotate(90deg);}

.moGnbWrap .moGnb .depth2 > li > a.on{color:#000;text-decoration:underline;font-weight:bold;}

/* 버튼 아이콘 */
.moBtnOpen{position:absolute;top:0;right:0;width:60px;height:60px;background:#fff;color:#444;}
.moBtnClose{position:absolute;top:0;right:0;width:60px;height:60px;background:#fff;color:#fff;z-index:20;}

.moBtnOpen .bar1{display:block;position:absolute;width:26px;height:2px;left:18px;top:18px;opacity:1;background:#444;border-radius:10px;}
.moBtnOpen .bar2{display:block;position:absolute;width:26px;height:2px;left:18px;top:26px;opacity:1;background:#444;border-radius:10px;}
.moBtnOpen .bar3{display:block;position:absolute;width:22px;height:2px;left:18px;top:34px;opacity:1;background:#444;border-radius:10px;}

.moBtnClose:before{content:'';display:block;position:absolute;width:24px;height:2px;left:26%;top:47%;opacity:1;background-color:#444;border-radius:10px;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg);}
.moBtnClose:after{content:'';display:block;position:absolute;width:24px;height:2px;left:26%;top:47%;opacity:1;background-color:#444;border-radius:10px;transform:rotate(45deg);-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);-ms-transform:rotate(45deg);}

/****************** Footer ******************/
footer{padding:100px;height:100px;display:flex;justify-content:center;align-items:center;background-color:#444;color:#fff;}

/****************** Main Content ******************/
.main{}
.main .inner{margin:0 6.4vw}
.main .sect_title h2{font-size:6.4vw;color:#1A1A1A;font-weight:700;margin-bottom:8vw;}

/****************** Main visual ******************/
.slider_visual{
    position: relative;
    width:100%;
    height:84vw;
    display: flex;
} 
.slider_visual .swiper-slide {
    position:relative;
    box-sizing:border-box;
    display:flex;
    justify-content:center;
    align-items:center;
} 
.slider_visual .swiper-slide img {
    position:absolute;
    top:0;
    left:0;
    display:block;
    width:100%;
    height:100%;
    object-fit:cover;
    z-index:0;
} 
/* 텍스트 */
.slider_visual .swiper-slide .visual_text {
    position:absolute;
    top:22.333vw;
    left:6.4vw;
    color:#fff;
    z-index:10;
} 
.slider_visual .swiper-slide .title {
    font-size:7.466vw;
    font-weight:700;
    opacity: 0;
    transform: translateX(30px);
    transition: transform 0.55s ease-in-out, opacity 0.55s ease-in-out;    
}
.slider_visual .swiper-slide .desc {
    font-size:4.266vw;
    margin-top:10px;
    opacity: 0;
    transform: translateX(30px);
    transition: transform 0.55s ease-in-out 0.4s, opacity 0.55s ease-in-out 0.5s;
} 
.slider_visual .swiper-slide-active .title, .slider_visual .swiper-slide-active .desc{
    opacity: 1;
    transform: translateX(0);
}

.slider_visual .swiper-pagination {
    top:60.4vw;
    left:10.4vw;
    color:#fff;
    font-size:3.2vw;
    font-weight:700;
    text-align:left;
    z-index:10;
}
.slider_visual .swiper-pagination:before {
    position:absolute;top:-1.7vw;left:-3.5vw;width:13vw;height:7.2vw;background:rgba(0, 0, 0, .3);border-radius:20px;content:'';z-index:-1;
}

/****************** 상단퀵메뉴 ******************/
.main_section_quickmenu{position:absolute;top:71.533vw;left:6.4vw;right:6.4vw;z-index:50;background:rgba(255, 255, 255, .25);border-radius:8px;box-shadow:0px 5px 10px 0px rgba(0,0,0,0.08);}
.main_section_quickmenu:after{position:absolute;width:90%;height:90%;top:0;left:0;right:0;bottom:0;background:rgba(255, 255, 255, .8);filter:blur(95px);z-index: -1;content:"";}
.main_section_quickmenu .quickmenu_wrap{display:flex;justify-content:space-between;margin:5.333vw 4.8vw;}
.main_section_quickmenu .quickmenu_wrap li{width:21%;}
.main_section_quickmenu .quickmenu_wrap li p{font-size:3.2vw;margin-top:2.5vw;text-align:center;}

/****************** 최근본매장 ******************/
.main_section_store {background:#F0F0F0;padding:38.4vw 0 16vw 0;}
.main_section_store .slider_store{
    position: relative;
    width:100%;
    display: flex;
} 
.slider_store .swiper-slide {
    position:relative;
    box-sizing:border-box;
    display:flex;
    border:1px solid red
} 
.slider_store .swiper-slide a {
    /* display: block;
    width: 100%; */
}
.slider_store .swiper-slide .img {
    
}
.slider_store .swiper-slide .img img {
    
} 
.slider_store .swiper-slide .title{
    font-size:4.267vw;
    font-weight:700;
    color:#1A1A1A;
    margin-top:3.2vw;
}
.slider_store .swiper-slide .desc{
    font-size:3.733vw;
    color:#666;
} 



/****************** media ******************/
@media screen and (max-width: 1366px){

}

@media screen and (max-width: 1024px){

}

/* only mobile */
@media all and (max-width:768px) {

}

@media all and (max-width:375px) {

}

@media all and (max-width:360px) {
    
}

@media all and (max-width:320px) {

}